{% extends 'innobisBundle::main.html.twig' %}

{% block client %}
  	<body class="bg-otonal">
	    <a href="{{ path('innobis_homepage') }}"><img class="logo-otonal center-block" src="{{asset('img/logo.png')}}"/></a>
	    <div class="cotizador--fixed">
	      	<form action="{{path('innobis_check')}}" method="post" class="formulario__datos formulario__login">
		        <h2>Inicia Sesión</h2>
		        <h6>Acceso Administración</h6>
	       		{% if error %}<div class="text-dange"><p><strong>{{ error.messageKey }}</strong></p></div>{% endif %}
		        <input id="emailHolder" type="email" placeholder="Email" name="_email" value="{{last_username}}" required autofocus/>
		        <input id="passHolder" type="password" placeholder="Contraseña" name="_password" required autofocus/>
		        <input type="hidden" name="_target_path" value="innobis_admin_observations"/>
		        <button type="submit" class="submit__btn">Ingresar</button>
	        </form> 
	    </div>
  	</body>
{% endblock %}
{% block admin %}
	<body class="bg-otonal">
	    <div style="text-align:center; background:rgba(0,0,0,0.2); height:100vh">
			<a><img class="logo-otonal center-block" src="{{asset('img/logo.png')}}"/></a>
			<h3 style="color:white">Bienvenido</h3>
		</div>
		<div style="background:rgba(0,0,0,0.1)">
			<div class="col-md-offset-1 col-md-10" style="margin-top:-20px">
			    <h6 class="m2b">&copy; {{"now"|date('Y')}}
			    	<a href="https://fb.com/m2btech" target="_blank">M2B Technologies</a> IT Solutions
			    </h6><br/>
			</div>
		</div>		    
	</body>
{% endblock %}