{% extends 'innobisBundle::main.html.twig' %}

{% block body %}
	<body class="bg-otonal">
		<div class="container-fluid" style="background:rgba(0,0,0,0.1); min-height:100vh">	
	    	<img class="logo-otonal center-block" src="{{asset('img/logo.png')}}"/>
		    <div class="cotizador--fixed">
		      	<div class="formulario__datos formulario__login">
				    <h2>Registro</h2>
				    <h6>Crear nuevo administrador</h6>	
			      	{{ form_start(form, {'attr': {'role':'form'}}) }}
				    <fieldset>
				      	<div class="form-group">
				      		{{ form_widget(form.firstname, {'attr':{'placeholder':'Nombre'}}) }}
				      		<span class="text-danger">{{ form_errors(form.firstname) }}</span>
				      	</div>
				      	<div class="form-group">
				      		{{ form_widget(form.lastname, {'attr':{'placeholder':'Apellido'}}) }}
				      		<span class="text-danger">{{ form_errors(form.lastname) }}</span>
				      	</div>
				      	<div class="form-group">
				      		{{ form_widget(form.email, {'attr':{'placeholder':'Correo Electrónico'}}) }}
				      		<span class="text-danger">{{ form_errors(form.email) }}</span>
				      	</div>
				      	<div class="form-group">
				      		{{ form_widget(form.password, {'attr':{'placeholder':'Contraseña'}}) }}
				      		<span class="text-danger">{{ form_errors(form.password) }}</span>
				      	</div>
				    </fieldset>
				    <p>{{ form_widget(form.save, {'attr':{'class':'btn','label':'Crear'}}) }}</p>
			      	{{ form_end(form) }}
		      	</div>
		    </div>
	    </div>
	    {{ parent() }}
  </body>
{% endblock %}