{% extends 'innobisBundle::main.html.twig' %}

{% block body %}
	<div class="well">
	<table class="table table-striped table-hover">
	  	<thead>
	      	<tr style="color:black">
				<th>Proyecto</th>
				<th>Cliente</th>
				<th>Vivienda</th>
				<th>Recinto</th>
				<th>Detalles</th>
				<th>Ingreso</th>
				<th>Solución</th>
				<th>Lista</th>
				<th>Gv.</th>
				<th>Días</th>
				<th>Obs.</th>
				<th>Categoría</th>
				<th>Responsable</th>
			</tr>
		</thead>
		<tbody style="background:rgba(220,220,220,.95)">
		{% for reclamo in reclamos %}
			<tr>
				<td>Jardín Otoñal</td>
				<td>{{ reclamo.rut }}</td>
				<td>{{ reclamo.departamento }}-{{ reclamo.torre }}</td>
				<td>{{ reclamo.recinto }}</td>
				<td>{{ reclamo.detalle }}</td>
				<td>{{ reclamo.fechaReclamo|date('d-m-Y') }}</td>
				{% set solucionado = reclamo.fechaSolucion != NULL and
					date("now").diff(date(reclamo.fechaReclamo)).days >= date(reclamo.fechaSolucion).diff(date("now")).days %}
				<td>{% if solucionado %}{{reclamo.fechaSolucion|date('d-m-Y')}}{% else %}Pendiente{% endif %}</td>				
				<td>{{ loop.index }}</td>
				<td>{% if reclamo.gravedad != 0 %}{{ reclamo.gravedad }}{% endif %}</td>
				<td>{% if solucionado %}{{ date(reclamo.fechaSolucion).diff(date(reclamo.fechaReclamo)).days }}{% else %}
					{{ date("now").diff(date(reclamo.fechaReclamo)).days }}{% endif %}</td>
				<td>{{ reclamo.observacion }}</td>
				<td>{{ reclamo.categoria }}</td>
				<td>{{ reclamo.responsable }}</td>
			</tr>
		{% endfor %}
		</tbody>
	  </table>
	</div>
{% endblock %}