{% extends 'innobisBundle::main.html.twig' %}

{% block body %}
	<body class="bg-info3">	
		<div class="container-fluid" style="background:rgba(0,0,0,0.2); min-height:100vh">
			<div class="col-md-6 col-center">
				{% if app.user.rol == "admin" or app.user.id == id %}
				<div class="page-header margin-none txtwhite">
		      		<h1 style="margin-top:100px">Cambiar Contraseña</h1>
		      	</div>
		      	{% set firstname = "" %}
	      		{% set lastname = "" %}
	      		{% set email = "" %}
		      	{% for user in users %}
					{% if user.id == id %}
	      				{% set firstname = user.firstname %}
	      				{% set lastname = user.lastname %}
	      				{% set email = user.email %}
	      			{% endif %}
				{% endfor %}
		      	{{ form_start(form, {'attr': {'role':'form'}}) }}
			    <fieldset>
			      	<div class="form-group">
			      		{{ form_widget(form.password, {'attr':{'placeholder':'Contraseña','class':'col-xs-12'}}) }}
			      		<span class="text-danger">{{ form_errors(form.password) }}</span>
			      	</div><br/>
			    </fieldset>
			    <p>{{ form_widget(form.save, {'attr':{'class':'btn','label':'Crear'}}) }}</p>
		      	{{ form_end(form) }}
		
		      	<div class="clear2"></div>
		      	<div class="clear2"></div>
				{% else %}
					<h3 style="color:white; margin-top:100px">Acceso Restringido</h3>
					<a href="{{ path('innobis_admin_list') }}" style="color:white">Volver atrás</a>
				{% endif %}
			</div>
		</div>
	    {{ parent() }}
	</body>
{% endblock %}