{% extends 'innobisBundle::main.html.twig' %}

{% block body %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
	<body class="bg-info3">
		<div class="container-fluid" style="background:rgba(0,0,0,0.2)">
		{{ include('innobisBundle:Default:menu.html.twig') }}
		
		<div class="container-fluid">
		  	<div class="col-md-offset-2 col-md-8">
		      	<div class="page-header margin-none">
		      		<h1 style="margin-top:100px; color:#eee">Asignar Departamento</h1>
		      	</div>
				<div class="col-xs-12 col-sm-8 col-md-8 col-center">
			    {{ form_start(form, {'attr': {'role':'form'}}) }}
			    <fieldset>
			      	<div class="form-group">
			      		<label class="txtwhite">Rut del Propietario</label><br/><br/>
			      		{{ form_widget(form.rutDueno, {'attr':{'placeholder':'Ingrese Rut', 'class':'form-control'}}) }}
			      		<span class="text-danger">{{ form_errors(form.rutDueno) }}</span>
			      	</div>
			    </fieldset>
			    <p>{{ form_widget(form.save, {'attr':{'class':'btn','label':'Asignar'}}) }}</p>
		      	{{ form_end(form) }}
				<div class="clear2"></div><br/>
				<div class="clear2"></div><br/>
				</div>
			</div>
		</div>

		{% for flashMessage in app.session.flashbag.get('mensaje') %}
	        <div class="alert alert-success message-alert" role="alert">
	          <div class="container">{{ flashMessage }}</div>
	          <script>
	            setTimeout("$('.message-alert').fadeIn('slow')", 1000);
	          setTimeout("$('.message-alert').fadeOut('slow')", 4000);
	        </script>
	        </div>
	      {% endfor %}
	</body>
{% else %}
	{{ include('innobisBundle:Default:error.html.twig') }}
{% endif %}
{% endblock %}


						