{% extends 'innobisBundle::main.html.twig' %}

{% block client %}
	<body class="bg-info2">
		<div class="container-fluid" style="background:rgba(0,0,0,0.2); min-height:100vh">
			{{ include('innobisBundle:Default:client_menu.html.twig') }}
			<div class="Title text-center">
			    <div class="clear2"></div><div class="clear2"></div><br/>
			    <h1 class="txtwhite">Importar CSV</h1><br/>
			</div>
			{% set depto = "" %}
			{% set torre = "" %}
		    {% for vivienda in viviendas %}
				{% if vivienda.rutDueno == id %}
					{% set depto = vivienda.departamento %}
					{% set torre = vivienda.torre %}
				{% endif %}
			{% endfor %}
		    <div class="col-xs-12 col-sm-8 col-md-4 col-center">
				<form action="{{path('innobis_loadCSV')}}" method="post" {{ form_enctype(form) }}>
					<fieldset>
						 <div class="form-group hidden">
                            <label class="txtwhite"></label>
                            {{ form_widget(form.rutDueno, {'attr':{'class':'form-control','value':id}}) }}
                            <span class="text-danger">{{ form_errors(form.rutDueno) }}</span>
                        </div>
                        <div class="form-group hidden">
                            <label class="txtwhite"></label>
                            {{ form_widget(form.departamento, {'attr':{'class':'form-control','value':depto}}) }}
                            <span class="text-danger">{{ form_errors(form.departamento) }}</span>
                        </div>
                        <div class="form-group hidden">
                            <label class="txtwhite"></label>
                            {{ form_widget(form.torre, {'attr':{'class':'form-control','value':torre}}) }}
                            <span class="text-danger">{{ form_errors(form.torre) }}</span>
                        </div>
				      	<div class="form-group">
				      		<label class="txtwhite"></label>
				      		{{ form_widget(form, {'attr':{'class':'form-control'}}) }}
				      		<span class="text-danger">{{ form_errors(form) }}</span>
				      	</div>	  		      	
				    </fieldset>
				    <br/>
			        <input type="submit" class="btn btn-primary form-control" label="Enviar"/>
			    </form>
			</div>
		</div>
		<div style="background:rgba(0,0,0,0.1)">
			<div class="col-md-offset-1 col-md-10" style="margin-top:-20px">
			    <h6 class="m2b">&copy; {{"now"|date('Y')}}
			    	<a href="http://www.m2btech.cl" target="_blank">M2B Technologies</a> IT Solutions
			    </h6><br/>
			</div>
		</div>
	</body>
{% endblock %}