{% extends 'innobisBundle::main.html.twig' %}

{% block body %}
	<div class="well">
	<table class="table table-striped table-hover">
	  	<thead>
	      	<tr style="color:black">
				<th>Proyecto</th>
				<th>Cliente</th>
				<th>Vivienda</th>
				<th>Recinto</th>
				<th>Detalles</th>
				<th>Ingreso</th>
				<th>Solución</th>
				<th>Lista</th>
				<th>Gv.</th>
				<th>Días</th>
				<th>Obs.</th>
				<th>Categoría</th>
			</tr>
		</thead>
		<tbody style="background:rgba(220,220,220,.95)">
		{% for reclamo in reclamos %}
			<tr>
				<td>Jardín Otoñal</td>
				<td>{{ reclamo.rut }}</td>
				<td>{{ reclamo.departamento }}-{{ reclamo.torre }}</td>
				<td>{{ reclamo.recinto }}</td>
				<td>{{ reclamo.detalle }}</td>
				<td>{{ reclamo.fechaReclamo|date('d-m-Y') }}</td>
				{% if reclamo.fechaSolucion|date('d-m-Y') != ""|date('d-m-Y') %}
				<td>{{reclamo.fechaSolucion|date('d-m-Y')}}</td>
				{% else %}
				<td>Pendiente</td>
				{% endif %}
				<td>{{ loop.index }}</td>
				<td>{{ reclamo.gravedad }}</td>
				{% if reclamo.fechaSolucion|date('d-m-Y') != ""|date('d-m-Y') %}
				<td>{{ reclamo.fechaSolucion|date('d-m-Y')-reclamo.fechaReclamo|date('d-m-Y') }}</td>
				{% else %}
				<td> </td>
				{% endif %}
				<td>{{ reclamo.observacion }}</td>
				<td>{{ reclamo.categoria }}</td>
			</tr>
		{% endfor %}
		</tbody>
	  </table>
	</div>
{% endblock %}