{% extends 'innobisBundle::main.html.twig' %}

{% block client %}
	<body class="bg-otonal">
	    <a href="{{ path('innobis_admin') }}"><img class="logo-otonal center-block" src="{{asset('img/logo.png')}}"/></a>
	    <div class="cotizador--fixed">
		    <div class="formulario__datos formulario__login">
		        <br/>
		        <h2>Inicia Sesión</h2>
		        <h6>Acceso Propietarios</h6>
		        {{ form_start(form, {'attr': {'role':'form'}}) }}
		            <fieldset>
		                <div class="form-group">
		                	{{ form_widget(form.rut, {'attr':{'placeholder':'Ingresa con tu Rut'}}) }}
		                	<span class="text-danger">{{ form_errors(form.rut) }}</span>
		              	</div>
		           </fieldset>
		           <p>{{ form_widget(form.save, {'attr':{'class':'btn','label':'Ingresar'}}) }}</p>
		        {{ form_end(form) }}
		    </div>
	    </div> 
  </body>
{% endblock %}