{% extends 'innobisBundle::main.html.twig' %}

{% block client %}
	<body class="bg-otonal">
	    <a href="{{ path('innobis_admin') }}"><img class="logo-otonal center-block" src="{{asset('img/logo.png')}}"/></a>
	    <div class="cotizador--fixed">
		    <div class="formulario__datos formulario__login">
		        <br/>
		        <h2>Inicia Sesión</h2>
		        <h6>Acceso Propietarios</h6>
		        {{ form_start(form, {'attr': {'role':'form'}}) }}
		            <fieldset>
		                <div class="form-group">
		                	{{ form_widget(form.rut, {'attr':{'placeholder':'Ingresa con tu Rut'}}) }}
		                	<span class="text-danger">{{ form_errors(form.rut) }}</span>
		              	</div>
		           </fieldset>
		           <p>{{ form_widget(form.save, {'attr':{'class':'btn','label':'Ingresar'}}) }}</p>
		        {{ form_end(form) }}
		    </div>
	    </div>
  </body>
{% endblock %}
{% block admin %}
	<body class="bg-otonal">
	    <div style="text-align:center; background:rgba(0,0,0,0.2); height:100vh">
			<a><img class="logo-otonal center-block" src="{{asset('img/logo.png')}}"/></a>
			<h3 style="color:white">Bienvenido</h3>
		</div>
		<div style="background:rgba(0,0,0,0.1)">
			<div class="col-md-offset-1 col-md-10" style="margin-top:-20px">
			    <h6 class="m2b">&copy; {{"now"|date('Y')}}
			    	<a href="http://www.m2btech.cl" target="_blank">M2B Technologies</a> IT Solutions
			    </h6><br/>
			</div>
		</div>		    
	</body>
{% endblock %}